#reloj {
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    border: px solid rgb(33, 77, 199);
    font: bold 1.5em dotum;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    float: left;
    margin: 1em 3em 1em 1em
}